// 400 text
// 500 and 400 icon , buttons
// 800 and 500 layout

.bg-brand {
  &--gradient-blue {
    background: linear-gradient(0deg, #0ea5e9, #38bdf8);
  }
  &--gradient-orange {
    background: linear-gradient(0deg, #f97316, #fb923c);
  }
  &--gradient-ambar {
    background: linear-gradient(0deg, #f59e0b, #fbbf24);
  }
  &--gradient-purple {
    background: linear-gradient(0deg, #a855f7, #c084fc);
  }
  &--gradient-red {
    background: linear-gradient(0deg, #ef4444, #f87171);
  }
  &--gradient-teal {
    background: linear-gradient(0deg, #14b8a6, #2dd4bf);
  }
  &--gradient-lime {
    background: linear-gradient(0deg, #84cc16, #a3e635);
  }
  &--gradient-esmerald {
    background: linear-gradient(0deg, #10b981, #34d399);
  }
  &--gradient-yellow {
    background: linear-gradient(0deg, #eab308, #facc15);
  }
}

.bg-card-dark {
  background: #27293d;
}
